.carousel-image{
    width: 100vw;
    height: 95vh;
}
@media (min-width: 768px) {
    .navbar-brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.subcount_nav_item > *{
    margin: 0;
}
.pad-50{
    height: 50px;
}
#spanPewdiepie, #spanDay{
    font-family:'Roboto',sans-serif; 
    font-weight: 100;
}